* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.resize-logo {
    width: 400px;
    height: auto;
}


header {
    display: flex;
}


.logo-container,
.nav-links,
.profile,
.cart {
    display: flex;
}
